* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 16px;
}

.title {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(20px, 50px) minmax(100px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(20px, 50px) minmax(100px, auto)/1fr;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(45%, #20606a), to(#00d1ff));
  background: linear-gradient(90deg, #020024 0%, #20606a 45%, #00d1ff 100%);
}

.form-input {
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 5px;
}

.form-input__btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background: black;
  background: linear-gradient(326deg, black 0%, #00faff 90%, #125758 100%);
}

.form-input__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3] minmax(50px, auto) minmax(50px, auto);
      grid-template: 1fr/repeat(3, 1fr) minmax(50px, auto) minmax(50px, auto);
}

.form-input__input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
}

.grid-big {
  margin: 20px 40px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  -ms-grid-rows: minmax(150px, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template: minmax(150px, 1fr)/repeat(3, 1fr);
}

.grid-big__small {
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #00f7ff;
  min-height: 25px;
}

.grid-small-item {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
}
