@import 'nullstyles.scss';

body {
  font-size: 16px;
}
.main {
}
.title {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(20px, 50px) minmax(100px, auto) / 1fr;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 96, 106, 1) 45%,
    rgba(0, 209, 255, 1) 100%
  );
}

.form-input {
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 5px;
  &__btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      326deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 250, 255, 1) 90%,
      rgba(18, 87, 88, 1) 100%
    );
  }
  &__grid {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr) minmax(50px, auto) minmax(50px, auto);
  }
  &__input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
  }
}
.grid-big {
  margin: 20px 40px;
  padding: 5px;
  display: grid;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template: minmax(150px, 1fr) / repeat(3, 1fr);

  &__small {
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgb(0, 247, 255);
    min-height: 25px;
  }
}
.grid-small-item {
  color: white;
  // background-color: black;
  display: grid;
  grid-template: 1fr / 1fr;
}
