@import 'nullstyles.scss';

body {
  font-size: 16px;
}
.main {
}
.title {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(50px, 100px) minmax(100px, auto) / 1fr;
}

.form-input {
  border: 1px solid red;
  margin: 20px 40px;
  padding: 5px;
  &__btn {
  }
  &__grid {
  }
  &__input {
  }
}
.grid-big {
  margin: 20px 40px;
  padding: 5px;
  display: grid;
  border: 1px solid black;
  &__small {
    margin: 10px;
    border: 1px solid green;
    min-height: 25px;
  }
}
